<div class="container-fluid">
  	<div class="row">
    	<div class="col-md-2">
      	<!--Sidebar content-->

      	<p>
      		Search:
      		<input ng-model="$ctrl.query" />
      	</p>

      	<p>
	        Sort by:
        	<select ng-model="$ctrl.orderProp">
          		<option value="title">Alphabetical</option>
          		<option value="release">Release Date</option>
        	</select>
      	</p>

	    </div>
	    <div class="col-md-10">
      	<!--Body content-->

		<ul class="albums">
			<li ng-repeat="album in $ctrl.albums | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
				<a href="#!/albums/{{album.id}}" class="thumb">
          <img ng-src="{{album.coverArt}}" alt="{{album.title}}" />
        </a>
        <a href="#!/albums/{{album.id}}">{{album.title}}</a>
				<p>{{album.description}}</p>
			</li>
		</ul>

		</div>
  	</div>
</div>
